body{
  text-align: center;
  background-color: #282c34 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
button{
  gap: 2rem;
  margin: 1rem;
}

